<div class="panel panel-default" ng-class="{'col-sm-6':isGroup('All')}">
    <h2>Basement</h2>
    <svg-basement ng-show="(isDisplay('Both') || isDisplay('Map'))"></svg-basement>
    <!--floors['basement'].length && -->
    <table id="datatable" class="panel panel-body" ng-show="(isDisplay('Both') || isDisplay('Table'))">
        <tr>
            <th class="td_room_name">Room Name</th>
            <th class="td_room_state">State</th>
            <th class="td_room_update">Last Updated</th>
        </tr>
        <tr ng-repeat="(room,property) in floors['basement']">
            <td class="td_room_name">{{room | replaceUnderscores:' '}}</td>
            <td class="td_room_state">{{property.state}}</td>
            <td class="td_room_update">{{property.lastUpdated}}</td>
        </tr>
    </table>
</div>