<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>ZoneCON</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/lib/jquery/jquery-1.12.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/lib/bootstrap/bootstrap.min.js"></script>
		
		<!-- Angular -->
		<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

		<!-- Socket.IO Connection-->
		<script type="text/javascript" src="js/lib/socket.io/socket.io.js"></script>

		<link href="css/main.css" rel="stylesheet">
		<!--<script type="text/javascript" src="192.168.1.30:8083/socket.io/socket.io.js"></script>-->

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
			<!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
      	<![endif]-->
	</head>
	<body ng-app="floorplan" ng-controller="FloorplanController">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#zonecon-dropdowns" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ZoneCON</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="zonecon-dropdowns">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Floorplan <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-class="{active:isGroup('All')}">
									<a href ng-click="setGroup('All')">All</a>
								</li>
								<li ng-repeat="(floor,rooms) in floors" ng-class="{active:isGroup(floor)}">
									<a href ng-click="setGroup(floor)">{{floor}}</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Display Options <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-class="{active:isDisplay('Both')}">
									<a href ng-click="setDisplay('Both')">Both Tables &amp; Maps</a>
								</li>
								<li ng-class="{active:isDisplay('Table')}">
									<a href ng-click="setDisplay('Table')">Tables Only</a>
								</li>
								<li ng-class="{active:isDisplay('Map')}">
									<a href ng-click="setDisplay('Map')">Maps Only</a>
								</li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid">
			<div class="row">
				<ground-floor ng-show="isGroup('All') || isGroup('ground')"></ground-floor>
				<underground ng-show="isGroup('All') || isGroup('underground')"></underground>
			</div>
		</div>
	</body>
</html>
